@import url("./typography.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-bottom: 600px;
}

img {
    max-width: 100%;
    display: block;
}

/* Header Styles */

.navbar {
    height: 6rem;
    background-color: var(--color-black);
}

.navbar .container-fluid {
    max-width: 1600px;
    padding: 0 10rem;
}

.navbar-nav {
    display: flex;
    width: 100%;
    gap: 2.5rem;
    justify-content: flex-end;
    font: var(--font-nav-item);
}

.navbar-content li a {
    color: white;
    position: relative;
}

.nav-link::after {
    position: absolute;
    content: "";
    width: 0px;
    display: block;
    height: 2px;
    background: white;
    margin-top: 4px;
    transition: 0.3s;
}

.nav-link:hover::after{
    width: 90%;
}

/*  Main First Section */

.intro-bg {
    background: var(--color-black);
    box-shadow: inset 0 -120px white;
}

.intro {
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  gap: 0px 40px;
  margin: auto;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.title-home {
    font: var(--font-1-xxl);
    color: white;
    width: 512px;
    margin-bottom: 2rem;
}


.intro-container p {
    font: var(--font-2-l);
    color: var(--text-gray-color);
    width: 513px;
    margin-bottom: 1.25rem;
}

.intro-container button {
    font: var(--font-1-m-b);
    text-transform: uppercase;
    font-style: normal;
    color: var(--color-button-text);
    cursor: pointer;
}

.intro-container {
    align-self: end;
    padding-bottom: 200px;
}

.intro-img img {
    border-radius: 4px;
}

.intro-svg {
    position: absolute;
    left: 2vw;
    top: 590px;
}

/* Section Choose Your */

.choose-container {
    max-width: 1200px;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.choose-container-products {
    display: flex;
    gap: 2.5rem; 
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 4rem;
    padding-left: 2rem;
    max-width: 1200px;
}

.choose-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 2rem;
    width: 500px;
    height: 608px;
    transition: transform 0.3s ease;
}

.choose-product img {
    width: 460px;
    height: 520px;
    margin: 2.5rem auto 1rem auto;
    border-radius: 5px;
}

.choose-product:hover {
    border: 2px solid transparent;
    cursor: pointer;
    transform: scale(1.02);
}

.choose-container h2 {
    margin-left: 7rem;
    font: var(--font-1-xxl);
}

.choose-product p {
    width: 460px;
    margin: 0 auto 1rem auto;
}

.choose-product p:nth-of-type(1) {
    font: var(--font-1-xl);
    color: var(--color-black-2);
}

.choose-product p:nth-of-type(1)::before {
    content: "";
    width: 12px;
    height: 8px;
    display: inline-block;
    text-align: center;
    background: #FFBB00;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 8px;
}

.choose-product p:nth-of-type(2) {
    font: var(--font-2-m);
    color: #595959;
    margin-left: 20px;
}


/*  Section 3 */

.model-bg {
    background: var(--color-black-2);
    box-shadow: inset 0 -120px white, inset 0 70px white;
    padding-bottom: 3rem;

}

.model-container {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    gap: 0px 40px;
    margin: auto;
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    
}

.container-div {
    margin-top: 10rem !important;
    margin: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    grid-column: 1;
}

.container-div p:nth-of-type(1) {
   text-transform: uppercase;
   margin-bottom: 1.25rem;
   font: var(--font-2-l-b);
   color: var(--text-gray-color);
}

.container-div h2:nth-of-type(1) {
    margin-bottom: 2rem;
    font: var(--font-1-xxl);
    color: white;
    width: 538px;
}

.container-div p:nth-of-type(2) {
    font: var(--font-2-l);
    width: 534px;
    height: 180px;
    color: var(--text-gray-color);
    margin-bottom: 1.25rem;
}

.container-div a {
    position: relative;
    text-decoration: none;
    color: var(--color-golden);
    font: var(--font-1-l);
    font-size: 24px;
}

.container-div a:hover {
    color: #e59317;
}

.container-div a:nth-of-type(1)::after {
 position: absolute;
 content: "";
 width: 0px;
 display: block;
 height: 4px;
 background: var(--color-golden);
 margin-top: 4px;
 width: 100%;
}

.container-div a:nth-of-type(1):hover::after{
    background: #e59317 !important;
}

.container-div .container-items {
    margin-top: 5rem;
    display: flex;
    gap: 40px;
}

.container-items div {
    width: 261px;
}

.container-items div h2 {
font-family: 'Poppins' !important;
font-style: normal !important;
font-weight: 500 !important;
font-size: 24px !important;
line-height: 36px !important;
color: white;
margin: 0.5rem 0;
}

.container-items div p { 
    font: var(--font-2-s) !important;
    color: var(--text-gray-color);
    width: 261px;
    text-transform: none !important;
}

.model-img-1 {
    height: 1120px;
    grid-column: 2;
    border-radius: 5px;
}

.model-svg {
    position: absolute;
    left: 2vw;
    top: 2880px;
}



/* Media Screens */


@media only screen and (max-width: 1340px) {
    .intro-svg, .model-svg{
        display: none;
    }

}


@media only screen and (max-width: 330px) {
    .navbar .container-fluid {
        padding: 0 1rem !important;
    }

    .navbar-brand {
        width: 90px;
    }

    .title-home {
        font-size: 1.75rem !important;
        line-height: 2rem;
        width: 250px !important;
    }

    .intro-container p {
        text-align: center;
        font-size: 1rem;
        line-height: 1.5rem;
        width: 250px !important;
    }

    .choose-container h2 {
        margin-left: 1rem !important;
        font-size: 2rem !important;
    }
}

@media only screen and (max-width: 420px) and (min-width: 330px) {
    .navbar-brand {
        width: 100px;
    }

    .choose-container h2 {
        margin-left: 2rem !important;
        font-size: 2.25rem !important;
    }
}

@media only screen and (max-width: 420px)  and (min-width: 331px){
    .title-home {
        font-size: 2.25rem !important;
        line-height: 2rem;
        width: 300px !important;
    }

    .intro-container p {
        text-align: center;
        font-size: 1.25rem;
        line-height: 1.5rem;
        width: 300px !important;
    }


}

@media only screen and (max-width: 991px) {
    .navbar .container-fluid {
        padding: 0 4rem;
    }
    
    .navbar-content {
        position: absolute;
        padding: 2rem;
        border-radius: 10px;
        background: var(--color-golden);
        opacity: 90%;
        right: 1rem;
        top: 5rem;
    }

    .navbar-nav  {
        gap: 0.25rem;
    }

    .nav-link {
        color: black !important;
        text-align: center;
        border-bottom: 2px dotted black;

    }

    .nav-link:hover{
       border: none;
    }

    .nav-link:hover:after {
        width: 100%;
        background: black;
    }
}

@media only screen  and (max-width: 1100px){

    .intro {
        grid-template-columns: 1fr;
        padding-top: 5vh;
    }

    .intro button {
        margin: auto;
    }

    .intro-container {
        padding-bottom: 3rem;
    }

    .intro-bg {
        box-shadow: none;
        padding-bottom: 2rem;
    }


}

@media only screen and (max-width: 600px) {
    .intro-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center !important;
    }
    .choose-container h2 {
        margin-left: 4rem;
        font-size: 2.75rem ;
    }
}

@media only screen and (max-width: 550px) and (min-width: 421px) {

    .intro-container h1  {
        font-size: 2.75rem !important;
        width: 400px !important;
        line-height: 34px !important;
    }

    .intro-container p {
        font-size: 1.25rem !important;
        width: 400px !important;
        margin-bottom: 2rem !important;
    }
    
}

@media only screen and (min-height: 1000px) and (min-width: 1600px) {
    .intro, .choose-container, .choose-container-products, .model-container {
        max-width: 1450px;
    }

    .intro-svg {
        left: 2vw;
        top: 705px;
       }

       .model-svg {
        left: 2vw;
        top: 2990px;
    }

    .model-img-1 {
        max-width: 600px;
    }
    
}

@media only screen and (min-height: 1200px) and (min-width: 2000px)  {
    .intro, .choose-container, .choose-container-products, .model-container {
        max-width: 1800px;
    }
    
    .intro-svg {
        left: 2vw;
        top: 940px;
    }

    .model-svg {
        left: 2vw;
        top: 3220px;
    }

}


/*  Utilities */

.golden {
    color: var(--color-golden);
}


/* Button Style */

.button-type-1{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    padding: 1rem 2rem; 
    gap: 10px; 
    background: var(--color-button);
    box-shadow: 0px 1px 2px 0px #0000001A;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 217px;
    height: 56px;
}

.button-type-1:hover {
    background: linear-gradient(#ffb60d, #e59317);
}